@use "@angular/material" as mat;
.clr-btn {
  background: transparent;
  border: none;
  padding-top: var(--theme-spacing-small);
}

.custom-select-search {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 15%;
  min-height: 38.77px;
}

.trigger-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.search-input {
  height: 89%;
  width: 92%;
  margin: 0% 0% 0% 3%;
  border-radius: 5px;
}

.dropdowm-field {
  width: 100%;
  height: 100%;
  background-color: var(--theme-base);
  border-radius: var(--theme-form-field-border-radius);

  // Define your message types and their corresponding colors
  $message-types: (
    "error": var(--theme-danger),
    "success": var(--theme-success),
    "warning": var(--theme-warn),
    "info": var(--theme-info),
  );

  // Loop over each type to generate the CSS
  @each $type, $color in $message-types {
    // This will create .acty-text-input-error, .acty-text-input-success, etc.
    .acty-dropdown-#{$type} {
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color;
    }
  }
}

.dropdown-hint {
  cursor: default;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  text-wrap-mode: nowrap;
  mat-hint {
    display: flex;
  }
  .hint-container {
    width: 100%;
    display: flex;
    align-items: center;
    span {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }
  }

  // Define your message types and their corresponding colors
  $message-types: (
    "error": var(--theme-danger),
    "success": var(--theme-success),
    "warning": var(--theme-warn),
    "info": var(--theme-info),
  );

  // Loop over each type to generate the CSS
  @each $type, $color in $message-types {
    // This will create .acty-text-input-error, .acty-text-input-success, etc.
    .acty-dropdown-#{$type} {
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color;
      @include mat.icon-overrides(
        (
          color: currentColor,
        )
      );
    }
  }
}
