@use "@angular/material" as mat;
.radiobutton-container {
  .radiobutton {
    margin: var(--theme-spacing-small) var(--theme-spacing-small-plus);
      &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  }

  $message-types: (
    "error": var(--theme-danger),
    "success": var(--theme-success),
    "warning": var(--theme-warn),
    "info": var(--theme-info),
  );

  // Loop over each type to generate the CSS
  @each $type, $color in $message-types {
    .acty-radiobutton-#{$type} {
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color;
    }
  }
}

.radiobutton-hint {
  cursor: default;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  text-wrap-mode: nowrap;
  mat-hint {
    display: flex;
  }
  .hint-container {
    width: 100%;
    display: flex;
    align-items: center;
    span {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }
  }

  // Define your message types and their corresponding colors
  $message-types: (
    "error": var(--theme-danger),
    "success": var(--theme-success),
    "warning": var(--theme-warn),
    "info": var(--theme-info),
  );

  // Loop over each type to generate the CSS
  @each $type, $color in $message-types {
    // This will create .acty-text-input-error, .acty-text-input-success, etc.
    .acty-radiobutton-#{$type} {
      overflow: hidden;
      text-overflow: ellipsis;
      color: $color;
      @include mat.icon-overrides(
        (
          color: currentColor,
        )
      );
    }
  }
}
