<div class="erp-datetime-container" [class.disabled]="isDisabled()">
  <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
    <input matInput
           #inputRef
           [readonly]="readOnly()"
           [disabled]="isDisabled()"
           [value]="formatDisplay(currentDate)"
           (focus)="inputRef.value = ''" 
           (change)="onCombinedInputChanged($event)"
           (input)="onTypingFormat($event)"
           [placeholder]="getCombinedPlaceholder()">
    
    @if (currentDate && !required() && !readOnly() && !isDisabled()) {
      <button mat-icon-button matSuffix (click)="clear(); $event.stopPropagation()" class="erp-clear-btn" matTooltip="Clear" tabindex="-1">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</div>

@if (hint()?.message) {
  <div class="erp-hint-message" [ngClass]="'hint-' + getHintType()">
    <mat-icon class="hint-icon">{{ getHintIcon() }}</mat-icon>
    <span>{{ hint()?.message?? '' | translate: hint()?.params }}</span>
  </div>
}

@if (required() && !currentDate && !isDisabled()) {
  <div class="erp-hint-message hint-error">
    <mat-icon class="hint-icon">error</mat-icon>
    <span>This field is required</span>
  </div>
}